<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="z.houbin.xposed.lib">

    <application>
        <activity
            android:name=".log.LogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/app_name" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />
    </application>
</manifest>
